@page "/Prescription"
@rendermode InteractiveServer
@inject IJSRuntime JS
@using System.Linq
@using Microsoft.EntityFrameworkCore
@namespace drugSystemBlazor

<PageTitle>处方单管理</PageTitle>
<h3>处方单管理</h3>

@code {

}
